.aside_wrap {
  position: fixed;
  left: 0;
  top: 58px;
  bottom: 0;
  -webkit-box-shadow: -5px 0 5px -5px #cecece;
  box-shadow: -5px 0 5px -5px #cecece;
  width: 80px;
  z-index: 10;
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
  background-color: #fff;
}
