




.hl-btn {
  border: 0;
  outline: 0;
  border-radius: 4px;
  background-color: #007fff;
  cursor: pointer;
}

.hl-x-btn {
  padding: 10px 20px;
  display: block;
  width: -webkit-fill-available;
}

.hl-m-btn {
  padding: 5px 10px;
}

.hl-img {
  width: 100px;
  border-radius: 100%;
  object-fit: fill;
}

.hl-bg-img {
  width: auto;
  max-height: 200px;
}