.editor-wrap {
  margin-top: 58px;
  display: flex;
  flex: 1;
  justify-content: center;

  overflow: hidden;
  overflow-y: auto;
}

.editor-main {
  width: 375px;
  min-height: 627px;
  padding: 0 20px 50px;
  box-sizing: border-box;
  background-color: white;
}