.editor-wrap {
  margin-top: 58px;
  min-height: 100%;
  display: flex;
  flex: 1;
  justify-content: center;

  background: #f1f3f7;
}

.editor-main {
  position: relative;
  width: 375px;
  min-height: 627px;
  height: intrinsic;
  padding: 0 20px 50px;
  box-sizing: border-box;
  background-color: white;
}