.editor-wrap {
  margin-top: 58px;
  min-height: 100%;
  display: flex;
  flex: 1;
  justify-content: center;

  background: #f1f3f7;
}

.editor-main-wrap {
  display: inline-block;
  position: relative;
}

.editor-main {
  position: relative;
  width: 375px;
  height: 667px;
  height: intrinsic;
  box-sizing: border-box;
  background-color: white;
}
