.select_component {
  position: fixed;
  top: 58px;
  bottom: 0;
  left: 81px;
  padding: 10px;
  min-width: 200px;
  // max-width: calc(50vw - 81px - 190px);
  background-color: #fff;
  z-index: 8888;
  animation-duration: 300ms;
  // 去除选中文本
  user-select: none;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
}

:global .select_component_hidden {
  transform: translateX(-100%);
}

.chart_wrap {
  width: 400px;
}

.piece_of_title {
  padding: 5px;
  font-size: 24px;
  line-height: 1.2;
}