.text_anign_center {
  text-align: center;
}

.cursor_move {
  cursor: move !important;
}

.el_block {

  &:hover .tip_line {
    display: block !important;
  }

  & > :nth-child(1) {
    height: 100%;
  }
}